.btn{
    width: 100%;
    border: 3px solid black;
    background: none;
    aspect-ratio: 1/1;
    font-weight: bold;
    font-size: 2.5rem;
    text-transform: uppercase;
    padding: 0.5rem;
    cursor: pointer;
    color: black;
}